/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-fab.add-button {
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 999;
}

.mat-card.add-form-wrapper {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 999;
}

.add-form {
  display: flex;
  flex-direction: column;
}
